@page "/Chat"
@using System.IO;

<input type="text" class="text-box" @bind="Prompt" />
<button class="submit-btn" @onclick="HandleSubmit">Submit</button>

@if (!string.IsNullOrEmpty(Response))
{
    <div class="alert alert-info">@Response</div>
}

@code 
{
    private string? Prompt { get; set; }
    private string? Response { get; set; }
    private readonly ChatAPI chatAPI;

    public Chat()
    {
        string key = "";

        string filePath = "key.txt";

        if (File.Exists(filePath))
        {
            using (StreamReader reader = new StreamReader(filePath))
            {
                key = reader.ReadLine();
            }
        }

        chatAPI = new ChatAPI("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");
    }

    private async Task HandleSubmit()
    {
        //Response = "Unlucky tbh";
        Response = await chatAPI.SendMessageAndGetResponse(Prompt); 
        //Response = "";
        Prompt = "";
    }
}