@page "/"
@using ChatBot.Components

<!-- <link href="Index.razor.css" rel="stylesheet" /> -->
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap" rel="stylesheet">

<style>
    h1 
    {
        text-align: center;
        color: black;
        font-family: "Comfortaa";
    }
</style>

<div id="page">
    <h1>GPT-3 Chat Bot</h1>
    <Chat />
</div>
